<div class="form-container col-xs-12 col-sm-4">
  <h3>Questions</h3>
  <form id="search-form">
    <% @questions.each_with_index do |question, index| %>
      <label for="sel1"><%= question.text %>:</label>
      <% if question.input_type > 0 %>
        <input name="question-<%= question.id %>"></input>
      <% else %>
        <div class="dropdown-wrapper">
          <select name="question-<%= question.id %>">
            <option value="">-- Select --</option>
            <% question.question_options.each do |option| %>
              <option value="<%= option.id %>"><%= option.text %></option>
            <% end %>
          </select>
        </div>
      <% end %>
    <% end %>
    <a href="#results">
      <button type="button" class="search btn btn-success">Search</button>
    </a>
  </form>
</div>

<a class="result-anchor col-xs-12 col-sm-8"name="results"></a>

<h3 class="result-title col-xs-12 col-sm-8">Financial Incentives For Housing</h3>

<div class="results col-xs-12 col-sm-8">
  <p class="initial-description">
    Determine which homebuyer incentives are immediately available to help you get into your dream home.
  </p>
</div>

<div class="result-total col-xs-12 col-sm-6">
  <h4>Total Savings Up To:</h4>
  <p class="total-value">_______________</p>
</div>
