<div class="form-container col-xs-12 col-sm-4">
  <h3>Questions</h3>
  <form id="search-form">
    <% @questions.each_with_index do |question, index| %>
      <label for="sel1"><%= question.text %>:</label>
      <% if question.input_type > 0 %>
        <input name="question-<%= question.id %>"></input>
      <% else %>
        <div class="dropdown-wrapper">
          <select name="question-<%= question.id %>">
            <option value="">-- Select --</option>
            <% question.question_options.each do |option| %>
              <option value="<%= option.id %>"><%= option.text %></option>
            <% end %>
          </select>
        </div>
      <% end %>
    <% end %>

    <button type="button" class="search btn btn-success">Search</button>
  </form>
</div>
<h3 class="result-title col-sm-8">Housing Grants Available To You</h3>
<div class="results col-xs-12 col-sm-8">

</div>
<div class="result-total col-sm-8">
  <h4>Total Savings:</h4>
  <p>$50,000</p>
</div>
